<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>capacity</key>
		<array>
			<integer>64</integer>
			<integer>256</integer>
			<integer>512</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Silver</string>
			<string>Space grey</string>
			<string>Gold</string>
			<string>Midnight green</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A2161</string>
			<string>A2220</string>
			<string>A2218</string>
		</array>
		<key>name</key>
		<string>iPhone 11 Pro Max</string>
		<key>yearIntroduced</key>
		<string>2019</string>
		<key>imageName</key>
		<string>iPhone11ProMax</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>64</integer>
			<integer>256</integer>
			<integer>512</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Silver</string>
			<string>Space grey</string>
			<string>Gold</string>
			<string>Midnight green</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A2160</string>
			<string>A2217</string>
			<string>A2215</string>
		</array>
		<key>name</key>
		<string>iPhone 11 Pro</string>
		<key>yearIntroduced</key>
		<string>2019</string>
		<key>imageName</key>
		<string>iPhone11Pro</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>64</integer>
			<integer>128</integer>
			<integer>256</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Purple</string>
			<string>Green</string>
			<string>Yellow</string>
			<string>Black</string>
			<string>White</string>
			<string>(PRODUCT)RED</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A2111</string>
			<string>A2223</string>
			<string>A2221</string>
		</array>
		<key>name</key>
		<string>iPhone 11</string>
		<key>yearIntroduced</key>
		<string>2019</string>
		<key>imageName</key>
		<string>iPhone11</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>64</integer>
			<integer>256</integer>
			<integer>512</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Silver</string>
			<string>Space grey</string>
			<string>Gold</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1921</string>
			<string>A2101</string>
			<string>A2102</string>
			<string>A2103</string>
			<string>A2104</string>
		</array>
		<key>name</key>
		<string>iPhone XS Max</string>
		<key>yearIntroduced</key>
		<string>2018</string>
		<key>imageName</key>
		<string>iPhoneXSMax</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>64</integer>
			<integer>256</integer>
			<integer>512</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Silver</string>
			<string>Space grey</string>
			<string>Gold</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1920</string>
			<string>A2097</string>
			<string>A2098</string>
			<string>A2099</string>
			<string>A2100</string>
		</array>
		<key>name</key>
		<string>iPhone XS</string>
		<key>yearIntroduced</key>
		<string>2018</string>
		<key>imageName</key>
		<string>iPhoneXS</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>64</integer>
			<integer>128</integer>
			<integer>256</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Black</string>
			<string>White</string>
			<string>Blue</string>
			<string>Yellow</string>
			<string>Coral</string>
			<string>(PRODUCT)RED</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1984</string>
			<string>A2105</string>
			<string>A2106</string>
			<string>A2107</string>
			<string>A2108</string>
		</array>
		<key>name</key>
		<string>iPhone XR</string>
		<key>yearIntroduced</key>
		<string>2018</string>
		<key>imageName</key>
		<string>iPhoneXR</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>64</integer>
			<integer>256</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Silver</string>
			<string>Space grey</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1865</string>
			<string>A1901</string>
			<string>A1902</string>
		</array>
		<key>name</key>
		<string>iPhone X</string>
		<key>yearIntroduced</key>
		<string>2017</string>
		<key>imageName</key>
		<string>iPhoneX</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>64</integer>
			<integer>128</integer>
			<integer>256</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space grey</string>
			<string>(PRODUCT)RED</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1864</string>
			<string>A1897</string>
			<string>A1898</string>
		</array>
		<key>name</key>
		<string>iPhone 8 Plus</string>
		<key>yearIntroduced</key>
		<string>2017</string>
		<key>imageName</key>
		<string>iPhone8Plus</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>64</integer>
			<integer>128</integer>
			<integer>256</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space grey</string>
			<string>(PRODUCT)RED</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1863</string>
			<string>A1905</string>
			<string>A1906</string>
		</array>
		<key>name</key>
		<string>iPhone 8</string>
		<key>yearIntroduced</key>
		<string>2017</string>
		<key>imageName</key>
		<string>iPhone8</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>32</integer>
			<integer>128</integer>
			<integer>256</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Black</string>
			<string>Jet back</string>
			<string>Gold</string>
			<string>Rose gold</string>
			<string>(PRODUCT)RED</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1661</string>
			<string>A1784</string>
			<string>A1785</string>
		</array>
		<key>name</key>
		<string>iPhone 7 Plus</string>
		<key>yearIntroduced</key>
		<string>2016</string>
		<key>imageName</key>
		<string>iPhone7Plus</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>32</integer>
			<integer>128</integer>
			<integer>256</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Black</string>
			<string>Jet back</string>
			<string>Gold</string>
			<string>Rose gold</string>
			<string>(PRODUCT)RED</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1660</string>
			<string>A1778</string>
			<string>A1779</string>
		</array>
		<key>name</key>
		<string>iPhone 7</string>
		<key>yearIntroduced</key>
		<string>2016</string>
		<key>imageName</key>
		<string>iPhone7</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>16</integer>
			<integer>32</integer>
			<integer>64</integer>
			<integer>128</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Space grey</string>
			<string>Silver</string>
			<string>Gold</string>
			<string>Rose gold</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1634</string>
			<string>A1687</string>
			<string>A1699</string>
		</array>
		<key>name</key>
		<string>iPhone 6s Plus</string>
		<key>yearIntroduced</key>
		<string>2015</string>
		<key>imageName</key>
		<string>iPhone6sPlus</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>16</integer>
			<integer>32</integer>
			<integer>64</integer>
			<integer>128</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Space grey</string>
			<string>Silver</string>
			<string>Gold</string>
			<string>Rose gold</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1633</string>
			<string>A1688</string>
			<string>A1700</string>
		</array>
		<key>name</key>
		<string>iPhone 6s</string>
		<key>yearIntroduced</key>
		<string>2015</string>
		<key>imageName</key>
		<string>iPhone6s</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>16</integer>
			<integer>64</integer>
			<integer>128</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Space grey</string>
			<string>Silver</string>
			<string>Gold</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1522</string>
			<string>A1524</string>
			<string>A1593</string>
		</array>
		<key>name</key>
		<string>iPhone 6 Plus</string>
		<key>yearIntroduced</key>
		<string>2014</string>
		<key>imageName</key>
		<string>iPhone6Plus</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>16</integer>
			<integer>32</integer>
			<integer>64</integer>
			<integer>128</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Space grey</string>
			<string>Silver</string>
			<string>Gold</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1549</string>
			<string>A1586</string>
			<string>A1589</string>
		</array>
		<key>name</key>
		<string>iPhone 6</string>
		<key>yearIntroduced</key>
		<string>2014</string>
		<key>imageName</key>
		<string>iPhone6</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>16</integer>
			<integer>32</integer>
			<integer>64</integer>
			<integer>128</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Space gray</string>
			<string>Silver</string>
			<string>Gold</string>
			<string>Rose gold</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1723</string>
			<string>A1662</string>
			<string>A1724</string>
		</array>
		<key>name</key>
		<string>iPhone SE</string>
		<key>yearIntroduced</key>
		<string>2016</string>
		<key>imageName</key>
		<string>iPhoneSE</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>16</integer>
			<integer>32</integer>
			<integer>64</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Space grey</string>
			<string>Silver</string>
			<string>Gold</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1453</string>
			<string>A1457</string>
			<string>A1518</string>
			<string>A1528</string>
			<string>A1530</string>
			<string>A1533</string>
		</array>
		<key>name</key>
		<string>iPhone 5s</string>
		<key>yearIntroduced</key>
		<string>2013</string>
		<key>imageName</key>
		<string>iPhone5s</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>8</integer>
			<integer>16</integer>
			<integer>32</integer>
		</array>
		<key>colors</key>
		<array>
			<string>White</string>
			<string>Blue</string>
			<string>Pink</string>
			<string>Green</string>
			<string>Yellow</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1456</string>
			<string>A1507</string>
			<string>A1516</string>
			<string>A1529</string>
			<string>A1532</string>
		</array>
		<key>name</key>
		<string>iPhone 5c</string>
		<key>yearIntroduced</key>
		<string>2013</string>
		<key>imageName</key>
		<string>iPhone5c</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>16</integer>
			<integer>32</integer>
			<integer>64</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Black</string>
			<string>White</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1428</string>
			<string>A1429</string>
			<string>A1442</string>
		</array>
		<key>name</key>
		<string>iPhone 5</string>
		<key>yearIntroduced</key>
		<string>2012</string>
		<key>imageName</key>
		<string>iPhone5</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>8</integer>
			<integer>16</integer>
			<integer>32</integer>
			<integer>64</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Black</string>
			<string>White</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1431</string>
			<string>A1387</string>
		</array>
		<key>name</key>
		<string>iPhone 4s</string>
		<key>yearIntroduced</key>
		<string>2011</string>
		<key>imageName</key>
		<string>iPhone4s</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>8</integer>
			<integer>16</integer>
			<integer>32</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Black</string>
			<string>White</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1349</string>
			<string>A1332</string>
		</array>
		<key>name</key>
		<string>iPhone 4</string>
		<key>yearIntroduced</key>
		<string>2010</string>
		<key>imageName</key>
		<string>iPhone4</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>8</integer>
			<integer>16</integer>
			<integer>32</integer>
		</array>
		<key>colors</key>
		<array>
			<string>Black</string>
			<string>White</string>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1325</string>
			<string>A1303</string>
		</array>
		<key>name</key>
		<string>iPhone 3GS</string>
		<key>yearIntroduced</key>
		<string>2009</string>
		<key>imageName</key>
		<string>iPhone3GS</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>8</integer>
			<integer>16</integer>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1324</string>
			<string>A1241</string>
		</array>
		<key>name</key>
		<string>iPhone 3G</string>
		<key>yearIntroduced</key>
		<string>2008</string>
		<key>imageName</key>
		<string>iPhone3G</string>
	</dict>
	<dict>
		<key>capacity</key>
		<array>
			<integer>4</integer>
			<integer>8</integer>
			<integer>16</integer>
		</array>
		<key>modelNumbers</key>
		<array>
			<string>A1203</string>
		</array>
		<key>name</key>
		<string>iPhone</string>
		<key>yearIntroduced</key>
		<string>2007</string>
		<key>imageName</key>
		<string>iPhone</string>
	</dict>
</array>
</plist>
